.timer {
}

.container {
  display: block;
  justify-content: center;
}
.container h1 {
  text-align: center;
}
.card {
  background-color: white;
  width: 80vw;
  height: 80vh;
  display: block;
}
.form-group {
  text-align: center;
  margin-left: 10%;
}
.form-control {
  width: 80vw;
}
.question-title {
  text-align: center;
  width: 80vw;
}
.questions {
  background-color: aqua;
}
.startBtn {
  justify-content: center;
  margin-left: 10%;
}
